body{
    font-family: 'Lexend Deca', sans-serif;
}
.welcomed{
    font-size:45px ;
    text-align: center;
    color: rgba(252, 0, 189, 0.801);
}
.flexible{
    display: flex;
    padding-top: 60px;
}
.half-width{
    width: 50%;
}
.developer-name{
    color: rgb(29, 252, 0);
}
.skill-graphics{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 102, 68);
    margin-right:20% ;
     padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px; 
    border-style: solid;
    border-right-width: 5px;

}
.skill-developer{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(1, 102, 68);
    margin-left:20% ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.graphic-data{
    text-align: justify;
    padding: 10% 10%;
    box-shadow: 5px 10px 25px rgb(54, 54, 54); 
    margin-left: 10%;
    margin-right: 5%;
    border-left: 15px solid;
    border-image: linear-gradient(blue, cyan );
    border-image-slice: 1;
    border-radius: 10px;
}
.me-graphic{
    color: RED;
}
.web-data{
    text-align: justify;
    padding: 10% 10%;
    box-shadow: 5px 10px 25px rgb(54, 54, 54); 
    margin-right: 10%;
    margin-left: 5%;
    border-left: 15px solid;
    border-image: linear-gradient(rgb(248, 223, 0), rgb(206, 2, 247) );
    border-image-slice: 1;
    border-radius: 10px;
}
.me-web{
    color: RED;
}
    

